<html>
  <head>
    <title>Project</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <head>

  <body ng-app="custOdr" ng-controller="custOdrCtrl" style="padding-top: 5vh;">
    <div class="container" id="odrForm">
      <div class="row">
        <div class="col-md-6">
          <img src="menu.gif" width="500" height="487" alt="Planets" usemap="#menumap"></td>
        </div>
        <div class="col-md-6">
          <div class="table-responsive">
            <table border="1" class="table table-striped table-bordered table-hover">
              <tr><th colspan="4" class="table-primary">Order Form</th></tr>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Qty * Price</th>
              </tr>

              <tr ng-repeat="odr in odrList">
                <td>{{ odr.item }} - <button ng-click="doDelete(odr.item)" class="btn btn-danger btn-xs">Delete</button></td>
                <td style="text-align:center;"> {{ odr.price}} </td>
                <td style="text-align:center;"> {{ odr.qty }} </td>
                <td style="text-align:right;"> {{ (odr.price*odr.qty) | number:2 }} </td>
              </tr>

              <tr>
                <th style="text-align:right;" colspan="3" class="table-primary">TOTAL (RM)</th>
                <th style="text-align:right;" class="table-primary">{{ totalPrice | number:2 }}</th>
              </tr>

              <tr>
                <td>{{ menu.item}}</td>
                <td>{{ menu.price | number:2 }}</td>
                <td>
                  <input type="text" ng-model="menu.qty" size="3" class="form-control">
                </td>
                <td>
                  <button ng-click="doAddUpdate()" class="btn btn-primary">Add/Update</button>
                </td>
              </tr>
            </table>
            <br>

            <table border="1" class="table table-bordered table-hover">
              <tr><th colspan="2" class="table-success">Customer Form</th></tr>
              <tr>
                <th align="right" class="table-secondary">Name:</th>
                <td><input type="text" ng-model="cust.name" size="30" class="form-control" ng-required="true"></td>
              </tr>
              <tr>
                <th align="right" valign="top" class="table-secondary">Address:</th>
                <td>
                  <input type="text" ng-model="cust.address" size="50" class="form-control">
                  <br>
                  <span style="font-size: 10pt;">(Apartment/building/unit no., street address)</span>
                </td>
              </tr>
              <tr>
                <th align="right" class="table-secondary">Area:</th>
                <td>
                  <select ng-model="cust.area" ng-options="x for x in areas" class="form-control">
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="w3-center">
                  <button ng-click="confirmOrder()" class="btn btn-success">Save Order</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <div class="table-responsive">
              <table border="1" class="table table-striped table-bordered table-hover">
                <tr>
                  <th colspan="5" class="table-primary">Order Save from Database</th>
                  <th style="text-align:center;"><button ng-click="listOrder()" class="btn btn-primary btn-xs">Check</button></th>
                </tr>
                <tr>
                  <th>Name</th>
                  <th>Contact Address</th>
                  <th>Order - Quantity</th>
                  <th>Total</th>
                  <th>Total Price</th>
                  <th>Action</th>
                </tr>

                <tr ng-repeat="cust in dbcust | orderBy: '-id_customer'">

                  <td>{{ cust.id_customer + ' ' + cust.name }}</td>
                  <td>{{ cust.address + ' ' + cust.area }} </td>

                  <td>
                    <ul ng-repeat="order in dborder | filter: {id_customer: cust.id_customer} " style="list-style: none; padding-left: 0;">
                      <li>[RM{{ order.price | number:2 | numberFixedLen:2 }} x {{ order.qty | numberFixedLen:2 }}] {{ order.item }}</li>
                    </ul>
                  </td>

                  <td>
                    <ul ng-repeat="order in dborder | filter: {id_customer: cust.id_customer} " style="list-style: none; padding-left: 0;">
                      <li>RM{{(order.price*order.qty) | number:2}}</li>
                    </ul>
                  </td>

                  <td>
                    <span ng-repeat="order in dborder | filter: {id_customer: cust.id_customer} ">
                      {{sumPrice(order.price,order.qty)}}
                    </span>
                    RM{{db_total | number:2}}
                    {{resetTotal()}}
                  </td>

                  <td style="text-align:center;"><button ng-click="" class="btn btn-danger btn-xs">Delete</button></td>

                </tr>
                <tr>
                  <td colspan="4">Total</td>
                  <td>RM{{db_totalPrice | number:2}}</td>
                  {{resetTotalPrice()}}
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="odrConfirm">
      <div class="row">
        <h2>Save Customer Order</h2>
        <table border="1" class="table table-bordered table-hover">
          <tr>
            <th colspan="4" class="table-primary">CUSTOMER INFO</th>
          </tr>
          <tr>
            <td colspan="4">
              <strong>{{ cust.name }}</strong><br>
              {{ cust.address }}<br>
              {{ cust.area }}
            </td>
          </tr>
          <tr>
            <th colspan="4" class="table-primary">ORDER ITEM</th>
          </tr>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Qty * Price</th>
          </tr>
          <tr ng-repeat="odr in odrList">
            <td>{{ odr.item }}</td>
            <td style="text-align:center;">{{ odr.price | number:2 }}</td>
            <td style="text-align:center;">{{ odr.qty }}</td>
            <td style="text-align:right;">{{ (odr.price*odr.qty) | number:2 }}</td>
          </tr>
          <tr>
            <td colspan="4" class="w3-center">
              <button ng-click="continueOrder()" class="btn btn-success">Continue</button>
              <button ng-click="cancelOrder()" class="btn btn-danger">Cancel</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="container">
      <ul class="list-group">
        <li class="list-group-item active">Group Members</li>
        <li class="list-group-item" ng-repeat="nama in listNama">{{ $index+1 }}. {{ nama }}</li>
      </ul>
    </div>

    <map name="menumap">
      <area shape="rect" coords="0,138,23,154" alt="Chicken Burger"
            ng-click="chooseItem('Chicken Burger', 8.8);" >
      <area shape="rect" coords="128,138,147,154" alt="Hotouch Burger"
            ng-click="chooseItem('Hotouch Burger', 11.1);" >
      <area shape="rect" coords="252,138,272,154" alt="Tower Burger"
            ng-click="chooseItem('Tower Burger', 13.8);" >
      <area shape="rect" coords="378,138,395,154" alt="Fish Fillet Burger"
            ng-click="chooseItem('Fish Fillet Burger', 11.25);" >

      <area shape="rect" coords="0,282,23,298" alt="Lucky Plate"
            ng-click="chooseItem('Lucky Plate', 11.90);" >
      <area shape="rect" coords="128,282,147,298" alt="Chick-A-Licious"
            ng-click="chooseItem('Chick-A-Licious', 13.30);" >
      <area shape="rect" coords="252,282,272,298" alt="Chick-A-Mix"
            ng-click="chooseItem('Chick-A-Mix', 11.90);" >
      <area shape="rect" coords="377,282,395,298" alt="Fish 'n' Chip"
            ng-click="chooseItem('Fish n Chip', 13.90);" >

      <area shape="rect" coords="0,430,23,446" alt="Nasi Marrybrown"
            ng-click="chooseItem('Nasi Marrybrown', 9.90);" >
      <area shape="rect" coords="128,430,147,446" alt="Nasi Ayam MB"
            ng-click="chooseItem('Nasi Ayam MB', 10.30);" >
      <area shape="rect" coords="252,430,272,446" alt="Mi Kari MB"
            ng-click="chooseItem('Mi Kari MB', 9.50);" >
      <area shape="rect" coords="335,430,354,446" alt="Chicken Porridge"
            ng-click="chooseItem('Chicken Porridge', 6.50);" >
      <area shape="rect" coords="418,430,436,446" alt="Seafood Porridge"
            ng-click="chooseItem('Seafood Porridge', 7.50);" >
    </map>
  </body>
  <script>
    $("#odrConfirm").hide();

    var app = angular.module('custOdr', []);

    app.controller('custOdrCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.menu = {};
        $scope.odrList = [];
        $scope.odrKeys = [];
        $scope.totalPrice = 0;

        $scope.db_total = 0.0;
        $scope.db_totalPrice = 0.0;

        //list nama member?
        $scope.listNama = [ 'ABDUL MUIS BIN HASMARULLZAKIM',
                            'AMIRUL NAIM BIN MOHD SOLONG', 
                            'MUHAMMAD AMIRUDDIN BIN MOHAMAD ROSLAM' ];

        $scope.cust = {
            "name": "Lionel Messi",
            "address": "Block L07, Jalan Merbau, KTHO",
            "area": "UTM"
        };

        $scope.areas = [
        	"Bandar Baru Kangkar Pulai",
            "Kangkar Pulai",
            "Pulai Emas",
            "Pulai Flora",
            "Pulai Indah",
            "Sri Pulai",
            "Sri Pulai Perdana",
            "Sri Pulai Perdana 2",
            "UTM"
        ];

        $scope.sumPrice = function(price, qty) {
          $scope.db_total += (parseFloat(price) * parseInt(qty));
          $scope.db_totalPrice += $scope.db_total;
          // console.log(price);
          // console.log($scope.total);
        }

        $scope.resetTotal = function() {
          $scope.db_total = 0.0;
        }

        $scope.resetTotalPrice = function() {
          $scope.db_totalPrice = 0.0;
        }

        $scope.chooseItem = function(item, price) {
            //alert("Choose " + item + " - " + price);
            $scope.menu.item = item;
            $scope.menu.price = price;
            $scope.menu.qty = 1;
        };

        $scope.doAddUpdate = function() {


            var idx = $scope.odrKeys.indexOf($scope.menu.item);
            //alert($scope.menu.qty);
            if ($scope.menu.item == null || $scope.menu.qty == null || $scope.menu.qty == '') {
                alert("Choose from the menu and insert the quantity!");
                return false;
            } else if ($scope.menu.qty < 1 || isNaN($scope.menu.qty) || $scope.menu.qty % 1 != 0) {
                alert("Quantity must be a WHOLE NUMBER and more than 0!");
                return false;
            } else {
                if (idx < 0) {
                    // Add order item
                    $scope.odrList.push({
                        "item": $scope.menu.item,
                        "price": $scope.menu.price,
                        "qty": $scope.menu.qty
                    });
                    $scope.odrKeys.push($scope.menu.item);
                    $scope.totalPrice = $scope.totalPrice + ($scope.menu.price * $scope.menu.qty);

                } else {
                    // Update order item
                    //alert("Update order item at index " + idx);
                    $scope.totalPrice = $scope.totalPrice - ($scope.menu.price * $scope.odrList[idx].qty);
                    $scope.odrList[idx].qty = $scope.menu.qty;
                    $scope.totalPrice = $scope.totalPrice + ($scope.menu.price * $scope.menu.qty);
                }
            }
        };

        $scope.doDelete = function(item) {
            var idx = $scope.odrKeys.indexOf(item);

            //alert("Delete " + item + " at index " + idx);
            alert("Delete " + item );

            if (idx > -1) {
                // Update $scope.totalPrice
                $scope.totalPrice = $scope.totalPrice - ($scope.odrList[idx].price * $scope.odrList[idx].qty);

                // Remove/delete item from $scope.odrList and $scope.odrKeys
                $scope.odrKeys.splice(idx, 1);
                $scope.odrList.splice(idx, 1);
            }
        };

        $scope.confirmOrder = function() {
            if ($scope.odrKeys.length == 0) {
                alert("Kosong la bang, baik takyah save");
            } else if ($scope.cust.name == null || $scope.cust.name == "") {
            	alert("Please insert customer name");
            } else if ($scope.cust.address == null || $scope.cust.address == "") {
            	alert("Please insert customer address");
            } else if ($scope.cust.area == null || $scope.cust.area == "") {
            	alert("Please choose area");
            } else {
                $("#odrForm").hide();
                $("#odrConfirm").show();
            }
        };

        $scope.continueOrder = function() {
            // Display current form data in JSON format

            $scope.listOrder();

            // console.log($scope.cust);
            // console.log($scope.odrList);
            var cust = JSON.parse(angular.toJson($scope.cust));
            var odrList = JSON.parse(angular.toJson($scope.odrList));

            var parameters = new Array(odrList);

            $http({
              method : "POST",
              url : "http://localhost/Project-Web-Tech/order.php",
              params : {customer:cust, orderList:parameters, function:'save'}
            }).then(function mySuccess(response) {
              console.log('mySuccess save data');
              console.log(JSON.parse(angular.toJson(response)));
              // console.log(JSON.stringify(response, null, 1));
            }, function myError(response) {
              console.log('myError save data');
              console.log(JSON.stringify(response, null, 1));
            });

            // Reset all model/data referred by $scope instance
            $scope.menu = {};
            $scope.odrList = [];
            $scope.odrKeys = [];
            $scope.totalPrice = 0;
            $scope.cust = {};


            $("#odrConfirm").hide();
            $("#odrForm").show();

            $scope.listOrder();
        };

        $scope.cancelOrder = function() {
            $("#odrConfirm").hide();
            $("#odrForm").show();
        };

        $scope.listOrder = function() {

          $http({
            method : "POST",
            url : "http://localhost/Project-Web-Tech/order.php",
            dataType: "json",
            params : {function:'list'}
          }).then(function mySuccess(response) {
            console.log('mySuccess list data');
            // console.log(JSON.parse(angular.toJson(response)));
            $scope.dbcust = response.data[0];
            $scope.dborder = response.data[1];

            console.log($scope.dbcust);
            console.log($scope.dborder);
          }, function myError(response) {
            console.log('myError list data');
            console.log(JSON.parse(angular.toJson(response)));
          });
        };


    }]);

    app.filter('numberFixedLen', function () {
      return function (n, len) {
          var num = parseInt(n, 10);
          len = parseInt(len, 10);
          if (isNaN(num) || isNaN(len)) {
              return n;
          }
          num = '' + num;
          while (num.length < len) {
              num = '0' + num;
          }
          return num;
      };
    });

  </script>
</html>
